/* HomePage.css */
@import url('global.css');

.custom-card {
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  height: 450px;
}

.custom-card-img img {
  width: 100%;
  height: auto;
  display: block;
}

.custom-card:hover .custom-card-img img {
  filter: blur(8px);
}

.custom-card-title {
  position: center;
  bottom: 3rem;
  left: 10%;
  color: var(--text-color-light);
  z-index: 10;
  font-size: 1.6rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.custom-card-overlay {
  position: absolute;
  top: 0;
  bottom: 11%;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.custom-card:hover .custom-card-overlay {
  opacity: 1;
}

.custom-card-overlay .card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 1;
  transform: none;
}

.custom-card:hover .custom-card-overlay .card-body {
  transform: translateY(0);
  opacity: 1;
}

.custom-card-overlay .card-text {
  font-size: 1.5rem;
  color: var(--text-color-light);
  /* padding: 10px 20px; */
  margin: 0;
}

.banner {
  color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 15px;
}

.headline {
  font-size: 2.5rem;
  margin-bottom: 0.2rem;
  color: #d2d0d0f0; /* Default color for the whole headline */
}

.acompchemlab {
  color: #d6fb00; /* Different color for "ACompChemLab" */
}

.subheadline {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #000000f0;
}
.subheadline-intro {
  text-align: justify; /* Aligns text to both left and right margins */
  text-justify: inter-word;
  line-height: 1.6;
  /* padding: 0 5px; */
  
}
.navigation-card {
  cursor: pointer;
  transition: transform 0.2s;
}

.navigation-card:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .headline {
    font-size: 3.2rem;
  }

  .subheadline {
    font-size: 2rem;
  }
  .subheadline-intro {
    font-size: 0.9rem;
  }
  
}
