/* index.css */
@import url('global.css');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(744deg, #343a40, #343a40 60%);
  background-attachment: fixed;
  min-height: 100vh;
}
