/* LandingPage.css */
@import url('global.css');

.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1; /* Ensure this is less than the z-index of .chemistry-background */
  position: relative; /* Added to establish a stacking context */
  background-color: transparent; /* Ensure it's transparent or adjust accordingly */
}

.header, .main-content, .footer {
  text-align: center;
  margin: 20px;
}

.header h1 {
  font-size: 4rem;
  color: #d2d0d0f0;
}

.navbar-brand {
  color: #d6fb00;
}


.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.5);
  border-radius: 8px;
  background-color: transparent; /* Ensure cards do not block the background */
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.card.disabled {
  color: #999;
  border-color: #999;
  cursor: not-allowed;
  box-shadow: none;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  color: #777;
}

.footer {
  font-size: 1rem;
  color: #777;
}
