/* styles.css */
@import url('global.css');

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.molecule-buttons {
  margin-bottom: 20px;
}

.selection-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.files-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.file-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.molecule-viewer {
  align-self: center;
  max-width: 100%;
  margin-top: 10px;
  position: relative;
  border: 1px solid #ccc;
  padding: 5px;
  width: 400px;
  height: 400px;
  margin: auto;
}

.molecule-viewer canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img-top {
  border-radius: 10px 10px 0 0;
}

.card-title {
  color: var(--primary-color);
}

.card-text {
  text-align: justify;
}

.card-body {
  padding: 15px;
}

.custom-checkbox {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
}

.custom-checkbox input[type="checkbox"] {
  visibility: hidden;
}

.custom-checkbox:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 3px;
  background-color: transparent;
}

.custom-checkbox input[type="checkbox"]:checked + label:before {
  background-color: var(--primary-color);
}

.custom-checkbox label {
  cursor: pointer;
}

.files-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.file-viewer-container {
  flex: 1 1 auto;
}

.fullscreen-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
  background: linear-gradient(744deg, #00d8eb, #38cad2 60%, #3db6b6);
  z-index: -1;
  animation: wave 10s infinite linear;
  border-radius: 0;
  animation: wave 50s infinite linear;
  background-size: cover;
  background-position: center;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideWave {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

.chemistry-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background-color: var(--background-color-dark);
}

.chemistry-icon {
  position: absolute;
  width: 80px;
  height: 80px;
  opacity: 0.8;
  animation: float 10s infinite ease-in-out, rotate 20s infinite linear, moveRandom 30s infinite ease-in-out;
}

.flask {
  animation-duration: 30s, 25s, 40s;
}

.molecule {
  animation-duration: 15s, 30s, 45s;
}

.test-tube {
  animation-duration: 18s, 20s, 50s;
}

.beaker {
  animation-duration: 20s, 22s, 55s;
}

.burner {
  animation-duration: 22s, 24s, 60s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveRandom {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10vw, 10vh);
  }
  50% {
    transform: translate(20vw, -10vh);
  }
  75% {
    transform: translate(-10vw, 20vh);
  }
  100% {
    transform: translate(0, 0);
  }
}
